# Reproducibility

## Setup

- Import the necessary Python libraries

- Get the data

In [ ]:
!wget https://raw.githubusercontent.com/patricia-ternes/water-wiser-2023/main/data/raw/iris1.csv

*Tip: organise your project since the beginning!*

## Open a file

In [ ]:
# Open the file

## Looking the content

Notes:

- Axis 0 = Row
- Axis 1 = Column
- Head = First 5 rows
- Tail = Last 5 rows

In [ ]:
# Look head

In [ ]:
# Look tail

In [ ]:
# Look shape

In [ ]:
# List column names

## Data Operations

- Operation on Columns
- Summary statistics
- Selection of columns
- Filtering
- If/Then logic
- Sorting by Values
- Rearranging columns

### Operations on columns

In [ ]:
# sepal operation >> mean


# petal operation >> mean


# cross operation >> a² + b² = c²

### Summary statistics: Global

- Show the statistic results for every column (variable)

In [ ]:
# descriptive statistics

### Group

- Group the rows by one variable

In [ ]:
# create a group

### Summary statistics: Groups

- Show the statistics results by Group (`species`) and all variables

In [ ]:
# descriptive statistics of the group

### Summary statistics: Selection of columns

- Choose one variable

In [ ]:
# descriptive statistics of one variable

- Choose more than one variable

In [ ]:
# descriptive statistics of two variable in one group

### Filtering

- Create a filter based in some condition

In [ ]:
# Cross mean

In [ ]:
# Create the filter

The above statement is simply a Series of True/False objects

- Passing `filter` to the DataFrame is going to return all rows with True.

In [ ]:
# Create a filtered dataframe

### If/then logic

In [ ]:
# Create a new "size" column with "small" and "large" values based on cross mean

### Working with Columns

1. Removing (`drop`) columns
2. Rename
3. Rearranging

In [ ]:
# List column names

In [ ]:
# 1. drop columns

In [ ]:
# 2. Renaming

# Define name dict


# Rename based on dict

In [ ]:
# 3. Rearranging >> Species >> Size >> petal_length >> petal_width >> sepal_length >> sepal_width

## Plotting

In [ ]:
# import plotting packages

# set a theme

### Statistical graphics

In [ ]:
# Scatter plot: petal_length vs petal_width

In [ ]:
# Linear Regression with uncertainty: petal_length vs petal_width

### Distributional representations

In [ ]:
# Distributional plot for petal_length | grouping by Species

### Plots for categorical data

- swarm
- violin
- bar (with error bar!)
- box

In [ ]:
# Swarm plot: Size vs petal_length

In [ ]:
# Violin plot: Species vs petal_length

In [ ]:
# Bar plot: Species vs petal_length

In [ ]:
# Box plot: Species vs petal_length

### Multivariate views on complex datasets

- Single pair relationship (jointplot)
- All pairwise relationship (pairplot)
- Correlation (Pearson, Kendall, Spearman)

In [ ]:
# Joint Plot: petal_length vs petal_width

In [ ]:
# Pair plot

In [ ]:
# Use pandas to calculate correlation - methods {'pearson', 'kendall', 'spearman'}

# Use seaborn heatmap to plot

# Automation

- Create a unique dataframe combining iris1 and iris2
- Break the `petal_length` in chunks of 1 from 1 to 7
- For every chunk create the label `size`
- Clean and organize the dataframe as presented above
- For every dataframe, create a displot
- Save the filtered dataframe in a `.csv` file
- Save the plot as a `png` image

In [ ]:
# Load iris 1


# Load iris 2


# Concatenate in one dataframe: tip: reset_index(drop=True)

In [ ]:
# Create a filter for petal_length between 1 and 2: Tip: `&` operator for `and`

TIP!

`Ctrl + d` select similar values for quick replace

In [ ]:
# Create the filtered dataframe

In [ ]:
# sepal operation >> mean


# petal operation >> mean


# cross operation >> a² + b² = c²


# if/then >> create size column with "small" and "large"

In [ ]:
# 1. drop columns


# 2. Renaming
# Define name dict

# Rename based on dict

# 3. Rearranging

In [ ]:
# Plot and save the distribution plot: Tip: define a dpi for better quality output

In [ ]:
# save csv

### Generalise!

In [ ]:
for i in range(1, 7):
    # repeat the above using a for loop to automatise the processes.

# Going beyond: Machine Learning

In [ ]:
# Load iris 1


# Load iris 2


# Concatenate in one dataframe: tip: reset_index(drop=True)

In [ ]:
# create a label using "species" >> remove from the original dataframe using pop

In [ ]:
# Load the ML function tree.DecisionTreeClassifier


# create the empty model

In [ ]:
# Load train_test_split function
from sklearn.model_selection import train_test_split

# Create train and test randomised datasets

In [ ]:
# Train your empty model

In [ ]:
# Use the test dataset to make predictions using your trained model

In [ ]:
# import accuracy_score function

# print the accuracy score of your predictions

In [ ]:
# Here is some example input and expected classes you can try above
predict_x = {
    'petal_length': [1.7, 4.2, 5.4],
    'petal_width': [0.5, 1.5, 2.1],
    'sepal_length': [5.1, 5.9, 6.9],
    'sepal_width': [3.3, 3.0, 3.1],
}
predict_x = pd.DataFrame(predict_x)

# for these values, the classification is: 'setosa', 'versicolor', 'virginica'

In [ ]:
# Check if your model predicts the above values